Repository watarukura/zero_to_production_study: changes, and which lefthook commands are due for each by the changed paths.
All: test, fmt, tomlfmt, clippy

test:
  run: cargo test

fmt:
  run: cargo fmt --all -- --check

tomlfmt:
  run: cargo tomlfmt --dryrun

clippy:
  run: cargo clippy -- -D warnings

ci(super-linter): add super-linter for exclude rust
  .github/workflows/pull_request.yml
  README.md
Due: none

ci(super-linter): delete hadolint, editorconfiglint
  .github/workflows/pull_request.yml
Due: none

style(pull_request.yml): apply yamllint
  .github/workflows/pull_request.yml
Due: none

feat(configuration.yml): add secret for db password
  Cargo.lock
  Cargo.toml
  configuration.yml
  lefthook.yml
  src/configuration.rs
  src/main.rs
  tests/health_check.rs
Due: test, fmt, tomlfmt, clippy

feat(Dockerfile): docker buildable
  Cargo.lock
  Cargo.toml
  Dockerfile
  sqlx-data.json
Due: tomlfmt

feat(configuration): separate configurations by environments
  configuration.yml
  configuration/base.yml
  configuration/ci.yml
  configuration/local.yml
  configuration/production.yml
  src/configuration.rs
  src/main.rs
  vscode/settings.json
Due: test, fmt, clippy

chore(lefthook): use lefthook for githook and aqua vor tools version control
  .devcontainer/Dockerfile
  .dockerignore
  aqua.yaml
  lefthook.yml
Due: none

chore(postgres): use circleci/postgres:9.6-bullseye-ram for speed
  .devcontainer/docker-compose.yml
Due: none

ci(pull_request.yml): set environment for test
  .github/workflows/pull_request.yml
Due: none

chore(Dockerfile): use gcr.io/distroless/static
  Cargo.toml
  Dockerfile
Due: tomlfmt

docs(README.md): diff from book
  README.md
Due: none

chore(configuration): add serde_aux
  Cargo.lock
  Cargo.toml
Due: tomlfmt

feat(configuration): separate configuration
  configuration/ci.yml
  configuration/local.yml
  configuration/production.yml
  src/configuration.rs
  src/main.rs
  tests/health_check.rs
Due: test, fmt, clippy

chore(actionlint): add actionlint to lefthook
  lefthook.yml
Due: none

feat(domain): add validation for subscriber name
  Cargo.lock
  Cargo.toml
  src/domain.rs
  src/lib.rs
  src/routes/subscriptions.rs
  tests/health_check.rs
Due: test, fmt, tomlfmt, clippy

feat(domain): separate domain and add validation for subscriber email
  Cargo.lock
  Cargo.toml
  src/domain.rs
  src/domain/mod.rs
  src/domain/new_subscriber.rs
  src/domain/subscriber_email.rs
  src/domain/subscriber_name.rs
  src/routes/subscriptions.rs
  tests/health_check.rs
Due: test, fmt, tomlfmt, clippy

chore(develop): try chsh fish and use postgres13
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  Makefile
  lefthook.yml
  scripts/path.fish
Due: none

refactor(validation): use try_into() for validation
  src/routes/subscriptions.rs
Due: test, fmt, clippy

chore(fish): chsh fish with devcontainer
  .devcontainer/Dockerfile
  .vscode/settings.json
Due: none

feat(email_client): add email_client
  Cargo.lock
  Cargo.toml
  configuration/base.yml
  lefthook.yml
  src/configuration.rs
  src/email_client.rs
  src/lib.rs
  src/main.rs
  src/startup.rs
  tests/health_check.rs
Due: test, fmt, tomlfmt, clippy

chore(vscode): try chsh fish
  .vscode/settings.json
Due: none

feat(email_client): add email_client use Postmark
  Cargo.lock
  Cargo.toml
  configuration/base.yml
  src/configuration.rs
  src/email_client.rs
  src/main.rs
  tests/health_check.rs
Due: test, fmt, tomlfmt, clippy

refactor(email_client): timeout configurable
  configuration/base.yml
  src/configuration.rs
  src/email_client.rs
  src/main.rs
  tests/health_check.rs
Due: test, fmt, clippy

test(tests): separate api tests use helpers
  tests/api/health_check.rs
  tests/api/helpers.rs
  tests/api/main.rs
  tests/api/subscriptions.rs
  tests/health_check.rs
Due: test, fmt, clippy

test(helper): isolated testable
  src/configuration.rs
  src/main.rs
  src/startup.rs
  tests/api/helpers.rs
  tests/api/subscriptions.rs
Due: test, fmt, clippy

feat(migrations): add column and table for subscription_token
  migrations/20220326052011_add_status_to_subscriptions.sql
  migrations/20220326052231_make_status_not_null_in_subscriptions.sql
  migrations/20220326052349_create_subscription_tokens_table.sql
Due: none

feat(email_server): add mock server for email_server
  src/email_client.rs
  src/routes/subscriptions.rs
  tests/api/helpers.rs
  tests/api/subscriptions.rs
Due: test, fmt, clippy

feat(subscriptions): confirm mail with confirmation link
  Cargo.lock
  Cargo.toml
  src/routes/subscriptions.rs
  tests/api/subscriptions.rs
Due: test, fmt, tomlfmt, clippy

feat(subscription_confirm): add subscription_token
  Cargo.lock
  Cargo.toml
  configuration/base.yml
  configuration/ci.yml
  configuration/local.yml
  src/configuration.rs
  src/routes/mod.rs
  src/routes/subscriptions.rs
  src/routes/subscriptions_confirm.rs
  src/startup.rs
  tests/api/helpers.rs
  tests/api/main.rs
  tests/api/subscriptions.rs
  tests/api/subscriptions_confirm.rs
Due: test, fmt, tomlfmt, clippy

chore(lefthook): use lefthook instead of Makefile
  Makefile
  README.md
  _typos.toml
  lefthook.yml
Due: none

chore(postgres): install psql client and move gh cli to aquq
  .config/gh/config.yml
  .devcontainer/Dockerfile
  Cargo.lock
  aqua.yaml
  lefthook.yml
  tools/.pgpass
  tools/config.yml
  tools/drop_databases.bash
  tools/path.fish
Due: none

feat(subscription): use transaction
  src/routes/subscriptions.rs
Due: test, fmt, clippy

feat(subscriptions): error handling
  src/routes/subscriptions.rs
Due: test, fmt, clippy

feat(subscriptions): add thiserror
  Cargo.lock
  Cargo.toml
  src/routes/subscriptions.rs
Due: test, fmt, tomlfmt, clippy

feat(subscriptions): error abstraction level setting
  src/email_client.rs
  src/routes/subscriptions.rs
  tests/api/subscriptions.rs
Due: test, fmt, clippy

feat(subscriptions): error message use anyhow
  Cargo.lock
  Cargo.toml
  lefthook.yml
  src/routes/subscriptions.rs
Due: test, fmt, tomlfmt, clippy

feat(newsletters): add newsletters endpoint
  README.md
  src/routes/mod.rs
  src/routes/newsletters.rs
  src/startup.rs
  tests/api/main.rs
  tests/api/newsletter.rs
  z2p.ipynb
Due: test, fmt, clippy

feat(newsletter): newsletter publishable
  src/domain/subscriber_email.rs
  src/email_client.rs
  src/routes/newsletters.rs
  src/routes/subscriptions.rs
  tests/api/helpers.rs
  tests/api/main.rs
  tests/api/newsletter.rs
  tests/api/newsletters.rs
Due: test, fmt, clippy

style(newsletter): simplify get_confirmed_subscribers
  src/routes/newsletters.rs
Due: test, fmt, clippy

chore(gh): update gh 2.7.0
  aqua.yaml
Due: none

Path conditions:
  test: any of: *.rs
  fmt: any of: *.rs
  tomlfmt: any of: Cargo.toml
  clippy: any of: *.rs
