Repository watarukura/zero_to_production_study: changes, and which lefthook commands are due for each by the changed paths.
All: test, fmt, tomlfmt, clippy, actionlint

lefthook.yml:

---
pre-commit:
  parallel: true
  commands:
    test:
      glob: "*.rs"
      run: cargo test
    fmt:
      glob: "*.rs"
      run: cargo fmt --all
    tomlfmt:
      glob: "Cargo.toml"
      run: cargo tomlfmt
    clippy:
      glob: "*.rs"
      run: cargo clippy
    typos:
      run: typos
    # udeps:
    #   glob: "*.rs"
    #   run: cargo +nightly udeps
    actionlint:
      glob: "pull_request.yml"
      run: actionlint

setup:
  parallel: false
  commands:
    fish:
      run: cp /vscode/tools/path.fish ~/.config/fish/conf.d/
    aqua:
      run: aqua install
    db:
      run: cp /vscode/tools/.pgpass ~/.pgpass && chmod 0600 ~/.pgpass && /vscode/tools/drop_databases.bash
    migrate:
      run: sqlx database create && sqlx migrate run
    gh:
      run: mkdir -p /vscode/.config/gh && cp /vscode/tools/config.yml /vscode/.config/gh/config.yml

chore(lefthook): adjust glob
  lefthook.yml
Due: none

feat(newsletters): add basic_auth to newsletters
  Cargo.lock
  Cargo.toml
  migrations/20220331233734_create_users_table.sql
  src/routes/newsletters.rs
  tests/api/helpers.rs
  tests/api/newsletters.rs
Due: test, fmt, tomlfmt, clippy

feat(newsletters): use argon2 for password_hash
  Cargo.lock
  Cargo.toml
  migrations/20220401034544_rename_password_column.sql
  migrations/20220401211848_add_salt_to_users.sql
  migrations/20220401220610_remove_salt_from_users.sql
  src/routes/newsletters.rs
  tests/api/helpers.rs
Due: test, fmt, tomlfmt, clippy

feat(newsletters): verify password async
  src/routes/newsletters.rs
Due: test, fmt, clippy

feat(newsletters): consider timing attack
  src/routes/newsletters.rs
  src/telemetry.rs
  tests/api/helpers.rs
  tests/api/newsletters.rs
Due: test, fmt, clippy

feat(login): add login_form and postable
  Cargo.lock
  Cargo.toml
  README.md
  src/authentication.rs
  src/lib.rs
  src/routes/home/home.html
  src/routes/home/mod.rs
  src/routes/login/get.rs
  src/routes/login/login.html
  src/routes/login/mod.rs
  src/routes/login/post.rs
  src/routes/mod.rs
  src/routes/newsletters.rs
  src/startup.rs
Due: test, fmt, tomlfmt, clippy

feat(login_form): use Hmac counterplan for XSS
  Cargo.lock
  Cargo.toml
  configuration/base.yml
  src/configuration.rs
  src/routes/login/get.rs
  src/routes/login/post.rs
  src/startup.rs
Due: test, fmt, tomlfmt, clippy

feat(login): error message from cookie
  Cargo.lock
  Cargo.toml
  src/routes/login/get.rs
  src/routes/login/post.rs
  src/startup.rs
  tests/api/helpers.rs
  tests/api/login.rs
  tests/api/main.rs
Due: test, fmt, tomlfmt, clippy

chore(redis): add redis container and crate
  .devcontainer/docker-compose.yml
  .github/workflows/pull_request.yml
  Cargo.lock
  Cargo.toml
  configuration/base.yml
  configuration/ci.yml
  configuration/local.yml
  lefthook.yml
  src/configuration.rs
  src/main.rs
  src/routes/admin/dashboard.rs
  src/routes/admin/mod.rs
  src/routes/login/post.rs
  src/routes/mod.rs
  src/startup.rs
  tests/api/helpers.rs
  tests/api/login.rs
Due: test, fmt, tomlfmt, clippy

feat(dashboard): only logged in user can open dashboard
  src/lib.rs
  src/routes/admin/dashboard.rs
  src/routes/login/post.rs
  src/session_state.rs
  tests/api/admin_dashboard.rs
  tests/api/helpers.rs
  tests/api/login.rs
Due: test, fmt, clippy

feat(password): password changeable
  migrations/20220403082030_seed_user.sql
  src/lib.rs
  src/routes/admin/dashboard.rs
  src/routes/admin/mod.rs
  src/routes/admin/password/get.rs
  src/routes/admin/password/mod.rs
  src/routes/admin/password/post.rs
  src/startup.rs
  src/utils.rs
  tests/api/change_password.rs
  tests/api/helpers.rs
  tests/api/main.rs
Due: test, fmt, clippy

feat(logout): logout enabled
  src/authentication.rs
  src/routes/admin/dashboard.rs
  src/routes/admin/logout.rs
  src/routes/admin/mod.rs
  src/routes/admin/password/post.rs
  src/routes/login/get.rs
  src/session_state.rs
  src/startup.rs
  tests/api/admin_dashboard.rs
  tests/api/change_password.rs
  tests/api/helpers.rs
Due: test, fmt, clippy

refactor(middleware): use middleware for authentication
  Cargo.lock
  Cargo.toml
  src/authentication/middleware.rs
  src/authentication/mod.rs
  src/authentication/password.rs
  src/lib.rs
  src/routes/admin/password/post.rs
  src/routes/login/get.rs
  src/startup.rs
  tests/api/helpers.rs
Due: test, fmt, tomlfmt, clippy

feat(newsletter): add idempotency_key
  .devcontainer/devcontainer.json
  lefthook.yml
  migrations/20220406042059_create_idempotency_table.sql
  src/idempotency/key.rs
  src/idempotency/mod.rs
  src/idempotency/persistence.rs
  src/lib.rs
  src/routes/admin/mod.rs
  src/routes/admin/newsletter/get.rs
  src/routes/admin/newsletter/mod.rs
  src/routes/admin/newsletter/post.rs
  src/routes/mod.rs
  src/routes/newsletters.rs
  src/startup.rs
  src/utils.rs
  tests/api/helpers.rs
  tests/api/newsletters.rs
Due: test, fmt, clippy

feat(dockerfile): use rust 1.60.0
  .devcontainer/Dockerfile.devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .gitignore
  lefthook.yml
Due: none

fix(dockerfile): make user vscode, because of permission
  .devcontainer/Dockerfile.devcontainer
Due: none

chore(lefthook): test command simplify
  lefthook.yml
Due: none

chore(aqua): upgrade gh cli
  aqua.yaml
Due: none

feat(newsletter): mv newsletters to admin/newsletters
  src/routes/admin/dashboard.rs
  src/routes/admin/mod.rs
  src/routes/admin/newsletter/get.rs
  src/routes/admin/newsletter/mod.rs
  src/routes/admin/newsletter/post.rs
  src/routes/mod.rs
  src/startup.rs
  tests/api/helpers.rs
  tests/api/newsletters.rs
Due: test, fmt, clippy

chore(launch.json): add launch.json for debug
  .vscode/launch.json
Due: none
